body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}





main{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgba(127, 255, 212, 0.884);
    font-size: 30px;
}